<ng-template #divLoading>
  <mat-grid-list rowHeight="400" cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>


<div *ngIf="hero; else divLoading" class="mt-2 grid">

  <mat-card class="col-12 sm:col-6">
    <mat-card-header [ngStyle]="{'align-self': 'center'}">
      <mat-card-title>{{ hero.alter_ego }}</mat-card-title>
      <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
    </mat-card-header>

    <mat-divider class="my-3"></mat-divider>

    <img class="mt-2" mat-card-image [src]="hero | heroImage" [alt]="hero.superhero">

  </mat-card>

  <mat-card class="col-12 sm:col-6">

    <mat-card-header [ngStyle]="{'align-self': 'center'}">
      <mat-card-title>Información</mat-card-title>
      <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
    </mat-card-header>

    <mat-divider class="my-3"></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item>{{ hero.first_appearance }}</mat-list-item>
        <mat-list-item>{{ hero.characters }}</mat-list-item>
        <mat-list-item>{{ hero.publisher }}</mat-list-item>
        <mat-list-item>{{ hero.alter_ego }}</mat-list-item>
      </mat-list>
    </mat-card-content>

    <button
      mat-button
      color="warn"
      (click)="goBack()">
      Regresar
    </button>
  </mat-card>
</div>
