<ng-template #divLoading>
  <mat-grid-list rowHeight="400" cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>


<div *ngIf="hero; else divLoading" class="card-grid mt-4">

  <header class="card-header text-center">
    <h1>{{ hero.superhero }}</h1>
    <h3>{{ hero.alter_ego }}</h3>
  </header>

  <mat-divider></mat-divider>

  <main class="card-main">

    <section class="section-info">
      <h4 class="text-center">INFORMACIÓN</h4>
      <mat-divider></mat-divider>
      <div class="section-info__content">

        <div class="content-c">
          <h5>PERSONAJES</h5>
          <div class="content-c__container">
            <span class="sp-ch" *ngFor="let name of hero.characters.split(',') | slice:0:3">
              {{ name }}
            </span>
          </div>
        </div>

        <div class="content-f">
          <h5>PRIMERA APARICIÓN</h5>
          <span class="sp-ch">
            {{ hero.first_appearance }}
          </span>
        </div>

        <div class="content-cr">
          <h5>CREADOR</h5>
          <span class="sp-ch">
            {{ hero.publisher }}
          </span>
        </div>

      </div>
    </section>

    <section class="section-img">
      <img [src]="hero | heroImage">
    </section>

  </main>

  <footer class="card-footer text-center">
    <button (click)="goBack()" mat-button color="primary"> REGRESAR </button>
  </footer>

</div>
